---
/**
 * Author Detail Page
 * Migrated from: src-legacy/detail_author.html
 * Webflow Page ID: 64650de20b5cd4240ba3fc43
 *
 * TODO: Implement CMS data fetching for author profile
 * TODO: List posts by this author
 */
import BaseLayout from '@layouts/BaseLayout.astro';

export const prerender = false;

const { slug } = Astro.params;

// TODO: Fetch author data and their posts from CMS
// const author = await fetchAuthor(slug);
// const posts = await fetchPostsByAuthor(slug);

const pageTitle = `Author - ${slug}`;
---

<BaseLayout title={pageTitle}>
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="author-profile">
          <!-- TODO: Author avatar from CMS -->
          <div class="author-avatar-wrapper">
            {/* <img src={author.avatar} alt={author.name} class="author-avatar" /> */}
          </div>

          <div class="margin-bottom margin-medium">
            <h1 class="heading-style-h2">
              {/* author.name */}
              Author: {slug}
            </h1>
          </div>

          <!-- TODO: Author bio from CMS -->
          <div class="author-bio text-style-muted">
            {/* author.bio */}
            <p>Author biography will be loaded from the CMS.</p>
          </div>
        </div>

        <div class="spacer-large"></div>

        <h2 class="heading-style-h4">Posts by this author</h2>

        <!-- TODO: Replace with CMS collection list of posts by this author -->
        <div class="w-dyn-list">
          <div role="list" class="collection-list w-dyn-items">
            <p class="text-style-muted">Author's posts will be loaded from the CMS.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
