---
/**
 * Partners Detail Page
 * Migrated from: src-legacy/detail_partners.html
 * Webflow Page ID: 675caede6d9bff87a2cfb81e
 *
 * TODO: Implement CMS data fetching for partner profiles
 * TODO: Replace placeholder content with dynamic partner data
 */
import BaseLayout from '@layouts/BaseLayout.astro';

export const prerender = false;

const { slug } = Astro.params;

// TODO: Fetch partner data from CMS
// const partner = await fetchPartner(slug);
// if (!partner) return Astro.redirect('/404');

const pageTitle = `Partner - ${slug}`;
---

<BaseLayout title={pageTitle}>
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="partner-profile">
          <!-- Partner Logo -->
          <div class="partner-logo-wrapper">
            {/* <img src={partner.logo} alt={partner.name} class="partner-logo" /> */}
          </div>

          <div class="margin-bottom margin-medium">
            <h1 class="heading-style-h2">
              {/* partner.name */}
              Partner: {slug}
            </h1>
          </div>

          <!-- Partner Description -->
          <div class="partner-description w-richtext">
            {/* partner.description */}
            <p>Partner description will be loaded from the CMS.</p>
          </div>

          <div class="spacer-medium"></div>

          <!-- Partner Link -->
          <div class="partner-link">
            <a
              href="#"
              class="button w-button"
              target="_blank"
            >
              {/* Visit partner.url */}
              Visit Partner
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
