---
/**
 * Job Board Detail Page
 * Migrated from: src-legacy/detail_job-boards.html
 * Webflow Page ID: 64c1fa3f59a58c35f96a8c45
 *
 * TODO: Implement CMS data fetching for job boards
 * TODO: List jobs from this specific job board
 */
import BaseLayout from '@layouts/BaseLayout.astro';

export const prerender = false;

const { slug } = Astro.params;

// TODO: Fetch job board data and related jobs from CMS
// const board = await fetchJobBoard(slug);
// const jobs = await fetchJobsFromBoard(slug);

const pageTitle = `Job Board - ${slug}`;
---

<BaseLayout title={pageTitle}>
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="job-board-header">
          <!-- TODO: Job board logo from CMS -->
          <div class="job-board-logo">
            {/* <img src={board.logo} alt={board.name} /> */}
          </div>

          <div class="margin-bottom margin-medium">
            <h1 class="heading-style-h2">
              {/* board.name */}
              Job Board: {slug}
            </h1>
          </div>

          <!-- TODO: Job board description from CMS -->
          <div class="job-board-description text-style-muted">
            {/* board.description */}
            <p>Job board description will be loaded from the CMS.</p>
          </div>
        </div>

        <div class="spacer-large"></div>

        <h2 class="heading-style-h4">Jobs from this board</h2>

        <!-- TODO: Replace with CMS collection list of jobs from this board -->
        <div class="w-dyn-list">
          <div role="list" class="jobs-grid w-dyn-items">
            <p class="text-style-muted">Jobs from this board will be loaded from the CMS.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
