---
/**
 * JobCard Component - Displays a job listing card
 *
 * @prop {string} href - Link to job details
 * @prop {string} position - Job title/position
 * @prop {string} company - Company name
 * @prop {string} location - Work location
 * @prop {string} thumbnail - Company logo URL
 * @prop {string} category - Job category/field
 * @prop {string} level - Job level (junior, mid, senior, etc.)
 * @prop {boolean} isBrazilianFriendly - Shows Brazilian flag indicator
 * @prop {boolean} isGrid - Use grid layout variant
 * @prop {string} detail - Additional job details (hidden, used for filtering)
 */

interface Props {
  href: string;
  position?: string;
  company?: string;
  location?: string;
  thumbnail?: string;
  category?: string;
  level?: string;
  isBrazilianFriendly?: boolean;
  isGrid?: boolean;
  detail?: string;
}

const {
  href,
  position = '',
  company = '',
  location = '',
  thumbnail = '',
  category = '',
  level = '',
  isBrazilianFriendly = false,
  isGrid = false,
  detail = '',
} = Astro.props;

const cardClass = isGrid ? 'job-card_item is-grid w-inline-block' : 'job-card_item w-inline-block';
const infoWrapperClass = isGrid ? 'job-card_info-wrapper is-flex' : 'job-card_info-wrapper';
const detailWrapperClass = isGrid ? 'job-card_info-detail-wrapper is-mini' : 'job-card_info-detail-wrapper';
---

<a href={href} class={cardClass}>
  <div class={infoWrapperClass}>
    {thumbnail ? (
      <img src={thumbnail} loading="lazy" alt={`${company} logo`} class="job-card_info-thumbnail">
    ) : (
      <img src="/images/wells-fargo.svg" loading="lazy" alt="" class="job-card_info-thumbnail w-dyn-bind-empty">
    )}
    <div class="job-card_info-column is-title">
      <div fs-cmsfilter-field="position" class:list={["job-card_info-detail is-title", { "w-dyn-bind-empty": !position }]}>
        {position}
      </div>
      <div class="job-card_info-detail is-light">
        By <strong>{company}</strong> in {location}
      </div>
    </div>
  </div>

  {isBrazilianFriendly && (
    <div title="Open for Brazilians" class="job-card_br-flag w-embed">
      <svg width="99" height="33" viewBox="0 0 99 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="99" height="11" transform="matrix(1 0 0 -1 0 33)" fill="#96D101"></rect>
        <rect width="99" height="11" transform="matrix(1 0 0 -1 0 22)" fill="#EAD600"></rect>
        <rect width="99" height="11" transform="matrix(1 0 0 -1 0 11)" fill="#0149D1"></rect>
      </svg>
    </div>
  )}

  <div class={detailWrapperClass}>
    <!-- Field/Category -->
    <div class="job-card_info-column">
      <div class="job-card_meta-title">
        <div class="icon-1x1-small w-embed">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 28 28">
            <path fill="currentColor" d="M11.25 4h5.5a.75.75 0 0 1 .75.75V7h-7V4.75a.75.75 0 0 1 .75-.75M9 4.75V7H6.754a3.75 3.75 0 0 0-3.75 3.75v.923L3 11.75v1q0 .087.004.173v7.327A3.75 3.75 0 0 0 6.754 24H21.25A3.75 3.75 0 0 0 25 20.25v-9.5A3.75 3.75 0 0 0 21.25 7H19V4.75a2.25 2.25 0 0 0-2.25-2.25h-5.5A2.25 2.25 0 0 0 9 4.75M4.504 15.753a3.73 3.73 0 0 0 2.246.747h4.75v.5a1.5 1.5 0 0 0 1.5 1.5h2a1.5 1.5 0 0 0 1.5-1.5v-.5h4.75c.844 0 1.624-.28 2.25-.75v4.5a2.25 2.25 0 0 1-2.25 2.25H6.754a2.25 2.25 0 0 1-2.25-2.25zM16.5 15a1.5 1.5 0 0 0-1.5-1.5h-2a1.5 1.5 0 0 0-1.5 1.5H6.75a2.25 2.25 0 0 1-2.246-2.116V10.75a2.25 2.25 0 0 1 2.25-2.25H21.25a2.25 2.25 0 0 1 2.25 2.25v2A2.25 2.25 0 0 1 21.25 15z"></path>
          </svg>
        </div>
        <div class="text-size-tiny">Field</div>
      </div>
      <div fs-cmsfilter-field="categories" class:list={["job-card_info-detail", { "w-dyn-bind-empty": !category }]}>
        {category}
      </div>
    </div>

    <!-- Location/Work from -->
    <div class="job-card_info-column">
      <div class="job-card_meta-title">
        <div class="icon-1x1-small w-embed">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
            <path fill="currentColor" d="M10 18a8 8 0 1 0 0-16a8 8 0 0 0 0 16m0-15c.657 0 1.407.59 2.022 1.908c.217.466.406 1.002.559 1.592H7.419c.153-.59.342-1.126.56-1.592C8.592 3.59 9.342 3 10 3M7.072 4.485A10.5 10.5 0 0 0 6.389 6.5H3.936a7.02 7.02 0 0 1 3.778-3.118c-.241.33-.456.704-.642 1.103M6.192 7.5A16 16 0 0 0 6 10c0 .87.067 1.712.193 2.5H3.46A7 7 0 0 1 3 10c0-.88.163-1.724.46-2.5zm.197 6c.176.743.407 1.422.683 2.015c.186.399.401.773.642 1.103A7.02 7.02 0 0 1 3.936 13.5zm1.03 0h5.162a9.3 9.3 0 0 1-.56 1.592C11.408 16.41 10.658 17 10 17s-1.407-.59-2.022-1.908A9.3 9.3 0 0 1 7.42 13.5m5.375-1H7.206A15 15 0 0 1 7 10c0-.883.073-1.725.206-2.5h5.588c.133.775.206 1.617.206 2.5s-.073 1.725-.206 2.5m.817 1h2.453a7.02 7.02 0 0 1-3.778 3.118c.241-.33.456-.704.642-1.103c.276-.593.507-1.272.683-2.015m2.93-1h-2.734c.126-.788.193-1.63.193-2.5s-.067-1.712-.193-2.5h2.733c.297.776.46 1.62.46 2.5s-.163 1.724-.46 2.5m-4.255-9.118A7.02 7.02 0 0 1 16.064 6.5H13.61a10.5 10.5 0 0 0-.683-2.015a6.6 6.6 0 0 0-.642-1.103"></path>
          </svg>
        </div>
        <div class="text-size-tiny">Work from</div>
      </div>
      <div class:list={["job-card_info-detail", { "w-dyn-bind-empty": !location }]}>
        {location}
      </div>
    </div>

    <!-- Level -->
    <div class="job-card_info-column">
      <div class="job-card_meta-title">
        <div class="icon-1x1-small w-embed">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="M18.251 3a2.25 2.25 0 0 0-2.249 2.25v13.5a2.249 2.249 0 1 0 4.498 0V5.25A2.25 2.25 0 0 0 18.251 3m-6.5 4a2.25 2.25 0 0 0-2.249 2.25v9.5a2.249 2.249 0 1 0 4.498 0v-9.5A2.25 2.25 0 0 0 11.751 7m-6.5 4a2.25 2.25 0 0 0-2.25 2.25v5.5a2.25 2.25 0 1 0 4.5 0v-5.5A2.25 2.25 0 0 0 5.25 11m13-6.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-1.499 0V5.25c0-.415.335-.75.749-.75m-6.5 4a.75.75 0 0 1 .75.75v9.5a.75.75 0 0 1-1.499 0v-9.5c0-.415.335-.75.749-.75m-6.5 4a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0v-5.5a.75.75 0 0 1 .75-.75"></path>
          </svg>
        </div>
        <div class="text-size-tiny">Level</div>
      </div>
      <div fs-cmsfilter-field="level" class:list={["job-card_info-detail", { "w-dyn-bind-empty": !level }]}>
        {level}
      </div>
    </div>
  </div>
</a>

{detail && (
  <div fs-cmsfilter-field="detail" class="job-card_detail w-richtext">
    <Fragment set:html={detail} />
  </div>
)}
